/* ManagerCard.css */
.manager-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}

.manager-name-block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.manager-image-container {
    flex-shrink: 0;
    margin-right: 16px;
}

.manager-image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.manager-details {
    flex-grow: 1;
}

.manager-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.manager-email {
    font-size: 1rem;
    color: #555;
}

.manager-employees {
    font-size: 1rem;
    color: #555;
}
.employee-tasklist-count{
    font-size: 1rem;
    color: #555;
}
.employee-buddyName {
    font-size: 1rem;
    color: #555;
        
}
.employee-buddyNameValue {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
        
}

/* Media Queries */
@media (max-width: 768px) {
    .manager-card {
        margin: 8px 0;
    }

    .manager-name-block {
        flex-direction: column;
        align-items: center;
    }

    .manager-image {
        width: 48px;
        height: 48px;
    }

    .manager-name {
        text-align: center;
    }

    .manager-email {
        text-align: center;
    }
    
    .employee-buddyName {
        text-align: center;
            
    }
    .employee-tasklist-count{
        text-align: center;
    }
    .manager-employees {
        text-align: center;
    }
    
}

@media (max-width: 480px) {
    .manager-card {
        padding: 8px;
    }

    .manager-image {
        width: 40px;
        height: 40px;
    }

    .manager-name {
        font-size: 1rem;
    }

    .manager-email {
        font-size: 0.875rem;
    }

    .manager-employees {
        font-size: 0.875rem;
    }
    
    .employee-tasklist-count {
        font-size: 0.875rem;
    }
    
   
}
